/build/
/phpunit.xml
/var/bootstrap.php.cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/var/tmp/*
!var/tmp/.gitkeep
/vendor/
/web/bundles/
/src/Resources/data/*
!/src/Resources/data/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep