/devops         export-ignore
/docs           export-ignore
/example-app    export-ignore
/features       export-ignore
/.coveralls.yml export-ignore
/.travis.yml    export-ignore
/Vagrantfile    export-ignore
/behat.yml      export-ignore
*.php           eol=lf